<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>당신이 좋아하는 사람들</title>
</head>

<body>

<main layout:fragment="main">
    <th:block th:unless="${@rq.member.hasConnectedInstaMember}">
        <div class="flex flex-col items-center">
            <span>먼저 본인의 인스타그램 아이디를 입력해주세요.</span>
            <span>
                <a href="/instaMember/connect" class="btn btn-link">본인의 인스타그램 아이디 입력하기</a>
            </span>
        </div>
    </th:block>

    <th:block th:if="${@rq.member.hasConnectedInstaMember}">
        <div class="flex-grow flex justify-center">
            <div class="max-w-2xl w-full px-4">
                <h1 class="mb-4">
                    <i class="fa-solid fa-list-ol"></i>
                    호감목록
                </h1>
                <ul>
                    <li th:each="likeablePerson: ${likeablePeople}" style="display: inline">
                        <div class="likeablePersonList">
                            <a class="toInstaMember_username text-blue-600 w-5/12" th:href="@{|https://instagram.com/${likeablePerson.toInstaMember.username}|}"
                                  th:text="${likeablePerson.toInstaMember.username}" style="text-decoration: underline; text-underline-offset: 2px"></a>
                            <span class="toInstaMember_attractiveTypeDisplayName w-4/12"
                                  th:text="|매력 포인트 : ${likeablePerson.attractiveTypeDisplayName}|"></span>
                            <a class="a_delete" href="javascript:;"
                               onclick="if ( confirm('정말로 호감 표시를 취소하시겠습니까?') ) $(this).next().submit();">취소</a>
                            <form hidden th:action="@{|/likeablePerson/${likeablePerson.id}|}" method="POST">
                                <input type="hidden" name="_method" value="delete">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>
</main>
</body>

</html>

