@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
    word-break: keep-all;
}

.likeablePersonList {
    display: flex;
    align-items: center;
    width: 450px;
    background-color: #FAEBFF;
    border-color: #A566FF;
    border-width: 2px;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
}

.toInstaMember_username {
    cursor: pointer;
    width: auto;
    min-width: 170px;
    font-weight: bold;
}

.toInstaMember_attractiveTypeDisplayName {
    margin-right: 50px;
}

.a_delete {
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 5px;
}