<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-user"></i>
            내 정보
        </h1>

        <div class="flex flex-col gap-6">
            <div class="w-52 h-52 border-2 flex justify-center items-center">준비 중..</div>
            <div>이름 : <span th:text="${@rq.member.username}"></span></div>
            <div>인스타 아이디 : <span th:if="${@rq.login and @rq.member.hasConnectedInstaMember()}"
                                th:text="${@rq.member.instaMember.username}"></span>
                <span th:unless="${@rq.login and @rq.member.hasConnectedInstaMember()}">
                    <a class="text-blue-600" href="/instaMember/connect" style="text-decoration: underline;">인스타 ID 등록하러 가기</a>
                </span>

            </div>
            <div>팔로워 수 / 팔로잉 수 : <span th:if="${@rq.login and @rq.member.hasConnectedInstaMember()}"
                                th:text="|(${#lists.size(@rq.member.instaMember.toLikeablePeople)}/${#lists.size(@rq.member.instaMember.fromLikeablePeople)})|"></span></div>
            <div>가입날짜 : <span th:text="${#temporals.format(@rq.member.createDate, 'yyyy-MM-dd HH:mm')}"></span></div>
            <div>수정날짜 : <span th:text="${#temporals.format(@rq.member.modifyDate, 'yyyy-MM-dd HH:mm')}"></span></div>
        </div>

    </div>
</main>


</body>

</html>

